@import 'components/scss/spacing.module.scss';

.searchFormWrapper {
  max-width: $spacing-10;
  margin: $spacing-1 auto;
}

.linkStyle {
  color: inherit;
  text-decoration: none;
  cursor: default;
}
