@import 'components/scss/color.module.scss';
@import 'components/scss/spacing.module.scss';

.homeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  background-color: $main_color;
  border-radius: 50%;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.letImage {
  width: $spacing-3;
  height: $spacing-3;
}
