.earth {
  width: 80%;
  max-width: 300px;
  opacity: 0.2;
  animation: rotation 60s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
