.name {
  padding-right: 0.5rem;
  overflow: hidden;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.43;
  text-overflow: ellipsis;
  letter-spacing: 0.01071em;
}
