@import 'components/scss/color.module.scss';

.wrapper {
  position: relative;
  width: 100vw;
  height: calc(100vw / 3);
  background-size: cover;
}

.main {
  background-color: rgba($color: $main_color, $alpha: 0.2);
}

.sub {
  background-color: rgba($color: $sub_color, $alpha: 0.2);
}

.banner {
  z-index: -1;
  width: 100%;
}
