.wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.avatar {
  flex: 0 0 auto;
  margin-right: 1rem;
}
