@import 'components/scss/spacing.module.scss';

.wrapper {
  background-color: white;
}

.link {
  display: flex;
  align-items: center;
  padding: $spacing-1;
  font-size: 1.2rem;
  color: gray;
  text-decoration: none;
  border-bottom: 1px solid lightgray;
}
