@import 'components/scss/spacing.module.scss';

.wrapper {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
}

.avatar {
  margin-right: 0.5rem;
}

.contents {
  width: 100%;
  overflow: hidden;
}

.text {
  white-space: pre-wrap;
}

.quote {
  max-height: $spacing-10;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: $spacing-1;
}
