@import 'components/scss/color.module.scss';
@import 'components/scss/spacing.module.scss';

.wrapper {
  position: relative;
  max-width: $spacing-10;
  margin: $spacing-1 auto $spacing-2 auto;
}

.input {
  width: 100%;
  font: inherit;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;

  :focus {
    background-color: rgba($color: white, $alpha: 0);
  }
}

.submit {
  display: block;
  height: $spacing-3;
  padding-right: $spacing-2;
  padding-left: $spacing-2;
  margin: $spacing-2 auto;
  color: white;
  background: transparent;
  background-color: $sub-color;
  border: none;
  border-radius: $spacing-2;
  outline: none;
  appearance: none;
}

.file {
  display: none;
}

.fileBox {
  display: flex;
  justify-content: space-around;
}

.label {
  position: relative;
  cursor: pointer;
}

.auth0Avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;

  .hint {
    margin-right: $spacing-1;
    font-size: small;
    color: gray;
  }
}

.icon {
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgba($color: gray, $alpha: 0.8);
}
